<div class="projects bg-primaryYellow">
  <div class="my-10 bg-primaryYellow h-24">
    <div
      class="bg-light xsm:w-4/12 lg:w-3/12 h-20 rounded-r-full shadow-2xl flex justify-center items-center"
    >
      <h1 class="text-dark xsm:text-2xl lg:text-4xl">
        Projects <span class="text-primaryYellow font-black">.</span>
      </h1>
    </div>
    <div class=" flex p-10 gap-4 overflow-y-scroll scroll-p-36 scrollbar-thumb-yellow-500 scrollbar-thumb-rounded-full scrollbar-thin scrollbar-track-light hover:scrollbar-thumb-dark">
      <div *ngFor="let item of projectData">
        <app-project-card
          [title]="item.name"
          [description]="item.description"
          [link]="item.link"
          [image]="item.image"
          [isLive]="item.isLive"
          [gitLink]="item.gitLink"
          [technologies]="item.technologies"
        ></app-project-card>
      </div>
    </div>
  </div>
</div>
