<div class="contact" id="contact" @fadeAnimation>
  <div class="my-10 bg-primaryYellow h-24">
    <div
      class="bg-light xsm:w-4/12 lg:w-3/12 h-20 rounded-r-full shadow-2xl flex justify-center items-center"
    >
      <h1 class="text-dark xsm:text-2xl lg:text-4xl">
        Contact <span class="text-primaryYellow font-black">.</span>
      </h1>
    </div>
    <div></div>
  </div>
  <div class="flex gap-5 xsm:mx-5 lg:mx-16">
    <div class="w-2 bg-light"></div>
    <div>
      <h1 class="text-light font-normal xsm:text-5xl lg:text-7xl">
        SREEHARI <span class="font-bold">PRATHAP.</span>
      </h1>
      <div class="flex gap-5 mt-3">
        <div
          class="bg-light px-3 py-1 text-dark font-normal rounded-2xl text-lg hover:shadow-xl cursor-pointer transition duration-150"
        >
          Developer
        </div>
        <div
          class="bg-light px-3 py-1 text-dark font-normal rounded-2xl text-lg hover:shadow-xl cursor-pointer transition duration-150"
        >
          UI/UX Designer
        </div>
      </div>
      <p class="mt-3 text-dark">
        Hey, I'm Sreehari Prathap. I'm a software engineer based in kerla,
        India. I'm a <span class="font-bold">developer</span> and
        <span class="font-bold">UI/UX designer</span> who is passionate about
        building beautiful and user-friendly websites and applications. my
        passions and interests are Technology, UI/UX design, Entrepreneurship,
        Finance and Life. <br />
        <br />

        I'm currently working at
        <span class="font-bold">Experion Technologies</span>
        as a software engineer and is working on projects from various leading
        companies. My goal is to work on projects that help people and
        businesses to grow. <br />
        <br />
        I'm also learning new technologies and strategies to expand my knowledge
        and help me adapt to the new world and solve problems accordingly. Few
        of my strengths are <span class="font-bold">creativity</span>,
        <span class="font-bold">problem solving</span>,
        <span class="font-bold">pard working</span>,
        <span class="font-bold">communication</span> and
        <span class="font-bold">team-work</span>. <br />
        <br />
        Connect with me through the following social media platforms and email
        and lets be friends
        <span
          class="text-2xl hover:animate-bounce duration-300 transition cursor-pointer"
          >🙂</span
        >.
        <br />
      </p>

      <div class="flex gap-x-4 mt-3">
        <a
          href="https://github.com/sreehariprathap"
          target="_blank"
          class="tooltip"
          data-tip="github"
        >
          <img src="assets/white-social (1).png" class="w-10 link" alt="" />
        </a>
        <a
          href="https://www.linkedin.com/in/sreehari-prathap/"
          target="_blank"
          class="tooltip"
          data-tip="linkedin"
        >
          <img src="assets/white-social (2).png" class="w-10 link" alt="" />
        </a>
        <a
          href="mailto:sreehariprathap1996@email.com"
          target="_blank"
          class="tooltip"
          data-tip="email me"
        >
          <img src="assets/white-social (3).png" class="w-10 link" alt="" />
        </a>
        <a
          href="https://drive.google.com/file/d/1u1kNFtLUSGwzxVqGtJ9V9RsPrMx5vTEL/view?usp=sharing"
          target="_blank"
          class="tooltip"
          data-tip="resume"
        >
          <img src="assets/Group 7.png" class="w-10 link" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
