@tailwind components;

.contact {
  height: 655px;
  background-image: url(../../../assets/Vector.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.link {
  @apply hover:shadow-lg transform transition duration-200 ease-in-out;
}
