<div class="hero pt-5 xsm:flex flex-col lg:flex lg:flex-row-reverse lg:gap-x-36 lg:justify-center" @fadeAnimation>
  <!-- <img src="../../../assets/white-bg.png" class="xsm:h-96 lg:w-full" alt=""> -->
  <div>
    <img src="../../../assets/Union.png" class="xsm:w-56 lg:w-72" alt="" />
  </div>
  <div class="name pt-8">
    <h1 class="text-dark text-4xl font-light">Hey, I'm</h1>
    <h1 class="text-dark text-7xl font-normal">SREEHARI</h1>
    <h1 class="text-dark text-7xl font-bold">
      PRATHAP<span class="text-primaryYellow">.</span>
    </h1>
    <div class="flex gap-5 mt-3">
      <div
        class="bg-primaryYellow px-3 py-1 text-dark font-normal rounded-2xl text-lg hover:shadow-xl cursor-pointer transition duration-150"
      >
        Developer
      </div>
      <div
        class="bg-primaryYellow px-3 py-1 text-dark font-normal rounded-2xl text-lg hover:shadow-xl cursor-pointer transition duration-150"
      >
        UI/UX Designer
      </div>
    </div>
  </div>
</div>
