<div
  class="w-28 left-0 sticky bg-light h-[85vh] flex justify-center items-center"
>
  <ul class="flex flex-col gap-y-5 justify-center items-center">
    <a href="" class="item-selected"
      ><fa-icon [icon]="faHome" class="text-light"></fa-icon
    ></a>
    <a href="" class="item"
      ><fa-icon [icon]="faStar" class="text-primaryYellow"></fa-icon
    ></a>
    <a href="" class="item"
      ><fa-icon [icon]="faGlobe" class="text-primaryYellow"></fa-icon
    ></a>
    <a href="" class="item"
      ><fa-icon [icon]="faHeart" class="text-primaryYellow"></fa-icon
    ></a>
  </ul>
</div>
